body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #fff;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* --------------------MOBILE-------------------- */

/* --------------header-------------- */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    display: block;
    padding: 16px 0;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

/* --------------mobile-menu-------------- */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    margin-left: auto;
    border-radius: 100%;
    border: 1px solid #e7e9fc;
    background-color: transparent;
}

.mobile-menu-nav {
    margin-bottom: auto;
}


.mobile-menu-list {
    display: flex;
    gap: 40px;
}

.mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-nav-link.current {
    color: #404bbf;
}

.mobile-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contacts {
    margin-bottom: 48px;
}

.mobile-menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-style: normal;
}

.mobile-menu-contacts-link {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contacts-link.current {
    color: #4d5ae5;
}

.mobile-icons-list {
    display: flex;
    gap: 40px;
}

.mobile-icons-link {
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icons-item {
    fill: #f4f4fd;
}

/* --------------section-1-------------- */

.section-one {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/1x/background-mob-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 767px;
    padding: 72px 0;
    margin: 0 auto;
}

@media screen and (min-resolution: 2x) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/2x/background-mob@2x-min.jpg);
    }
}

.title-one {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    display: block;
    margin: 0 auto;
    margin-bottom: 72px;
}

.button {
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: #404bbf;
}

.button:focus {
    background-color: #404BBF;
}

/* --------------section-2-------------- */

.section-two {
    padding: 96px 0;
}

.icon-conteiner {
    display: none;
}

.list-section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    max-width: 288px;
}

.title-fields {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.text-mob {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* --------------section-3-------------- */

.section-three {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.team-container {
    width: 296px;
    margin: 0 auto;
}

.title-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;  
}

.name {
    padding: 32px 0;
    text-align: center;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title-three-mob {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text-title-three {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.list-item-three {
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.icons-media-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.icons-main-link {
    background-color: #4d5ae5;
    padding: 12px 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-item {
    fill: #f4f4fd;
}

/* --------------section-4-------------- */

.section-four {
    padding: 96px 0;
}

.list-item-four {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.list-item-four:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.image-section-four {
    position: relative;
    overflow: hidden;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
    padding: 40px 32px;
}

.list-item-four:hover .overlay {
    transform: translateY(0);
}

.text-overlay {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
    padding-top: 40px;
    width: 296px;
    margin: 0 auto;
}


.list-section-four {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.button:hover {
    background-color: #404bbf;
}

/* --------------------footer-------------------- */

.page-footer {
    background-color: #2e2f42;  
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
    padding: 96px 0;
}

.footer-logo {
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text-left {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 288px;
}

.footer-text-right {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.icons-list-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.icons-footer-link {
    background-color: #4d5ae5;
    padding: 8px 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-telegram {
    fill: #fff;
    margin-left: 16px;
}

.icons-footer-link:hover,
.icons-footer-link:focus {
    background-color: #31d0aa;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.input-footer {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: #ffffff;
    padding-left: 16px;
}

input::placeholder {
    color: #ffffff;
}

.button-footer {
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    max-width: 165px;
    height: 40px;
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer:hover {
    background-color: #404bbf;
}

/* ---------------MODAL--------------- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding: 24px 16px;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.icon-cross {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container {
    margin-bottom: 8px;
}

.modal-input-container {
    position: relative;
}

.icon-form {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
    margin-top: 48px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-input {
    margin: 0 auto;
    padding-left: 38px;
    width: 256px;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input,
.modal-textarea {
    outline: transparent;
}

.modal-input:focus,
.modal-textarea:focus {
    border-color: #4d5ae5;
}

.modal-input:focus+.icon-form {
    fill: #4d5ae5;
}

.textarea-container {
    margin-bottom: 16px;
}

.modal-textarea {
    margin: 0 auto;
    width: 256px;
    min-height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-container {
    margin-bottom: 24px;
    
}

.checkbox-field {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.check-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
}

.check-element {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #404bbf;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-field:checked+.check-label .check-element {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.label-link {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.button-submit {
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------------------TABLET-------------------- */

@media screen and (min-width: 768px) {

/* --------------header-------------- */

.container {
    max-width: 768px; 
    }

.burger-button {
    display: none;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    padding: 24px 0;
    margin-right: 120px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: flex;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    display: block;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
    display: none;
}

/* --------------section-1-------------- */

.section-one {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/1x/background-tab-min.jpg);
        max-width: 1157px;
        padding: 112px 0;
}

@media screen and (min-resolution: 2x) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/2x/background-tab@2x-min.jpg);
    }
}

.title-one {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
}

/* --------------section-2-------------- */

.list-section-two {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    max-width: 736px;
}

.list-item-two {
    width: 356px;
}

.title-fields {
    text-align: left;
}

/* --------------section-3-------------- */

.team-container {
    width: 584px;
}

.team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
}

.list-item-three {
    width: calc((100% - 24px) / 2);
}

/* --------------section-4-------------- */

.section-four {
    padding-top: 120px 0;
}

.list-item-four {
    width: calc((100% - 24px) / 2);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.list-section-four {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}

/* --------------footer-------------- */

.page-footer {
    background-color: #2e2f42;
}

.footer-container {
    column-gap: 24px;
    row-gap: 72px;
    justify-content: flex-start;
    padding: 96px 108px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text-left {
    width: 264px;
}

.form-container {
    flex-direction: column;
}

.subscribe-text,
.footer-text-right {
    text-align: start;
}

.subscribe-form {
    flex-direction: row;
    gap: 24px;   
}

.input-footer {
    width: 264px;
}

.logo-container, 
.social-media-footer {
    margin-bottom: 0;
}

/* ----------------MODAL-----------------*/

.modal {
    width: 408px;
    min-height: 584px;
    padding: 26px 24px;
}

.modal-input {
    width: 360px;
}

.modal-textarea {
    width: 360px;
}

}

/* --------------------DESKTOP-------------------- */

@media screen and (min-width: 1158px) {

/* --------------header-------------- */

.container {
    max-width: 1158px;
    padding: 0 15px;
}

.burger-button {
    display: none;
}

.header-logo {
    margin-right: 76px;
}
    
.contacts-list {
    align-items: center;
    flex-direction: row;
    gap: 40px;
}
    
.contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.mobile-menu {
    display: none;
}
    
/* --------------section-1-------------- */

.section-one {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
        url(../images/1x/background-min.jpg);
    max-width: 1440px;
    padding: 188px 0;
}

@media screen and (min-resolution: 2x) {
    .section-one {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/2x/background@2x-min.jpg);
    }
}

.title-one {
    margin-bottom: 48px;
}

/* --------------section-2-------------- */

.section-two {
    padding: 120px 0;
}

.title-fields {
    font-size: 20px;
}

.icon-conteiner {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    align-items: center;
}

.list-section-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    max-width: 1128px;
}

.list-item-two {
    width: 264px;
    width: calc((100% - 72px) / 4);
}

/* --------------section-3-------------- */

.section-three {
    padding: 120px 0;
}

.team-container {
    width: 1158px;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.list-item-three {
    width: calc((100% - 72px) / 4);
}

.icons-main-link:hover,
.icons-main-link:focus {
    background-color: #404bbf;
    ;
}

/* --------------section-4-------------- */

.section-four {
    padding-top: 120px 0;
}

.list-item-four {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-four:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.list-section-four {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

/* --------------footer-------------- */

.page-footer {
    padding: 100px 0;
}

.footer-container {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
}

.logo-container {
    margin-right: 120px;
    width: 264px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text-left {
    width: 264px;
}

.social-media-footer {
    margin-right: 80px;
}

.form-container {
    flex-direction: column;
}

}